#optionsframework {
    max-width:840px;
    background:#fff;
}
#optionsframework h3 {
	cursor: default;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#optionsframework .section {
	padding:10px 10px 0;
}
#optionsframework .group {
	padding-bottom:40px;
}

#optionsframework table{margin:15px;}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:38%;
	float: left;
	font-size: 12px;
	line-height:16px;
	color: #777;
}
#optionsframework .controls input[type=text] {
	width:100%;
}
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .controls select, #optionsframework .controls textarea {
	margin-bottom:10px;
	width:100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	margin: 0 10px 5px 0;
	float:left;
	clear:both;
}
#optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#optionsframework .section-typography .explain {
	float:none;
	width:auto;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}
#optionsframework input[type="email"], 
#optionsframework input[type="number"], 
#optionsframework input[type="password"], 
#optionsframework input[type="search"], 
#optionsframework input[type="text"], 
#optionsframework input[type="url"]{ 
	height: 28px;
    vertical-align: middle;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#fafafa;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ddd;
	background-color: #f1f1f1;
}

#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

#accesspresslite_media_image { 
	width: 32px; 
	height: 32px; 
	margin-top: 20px; 
	position: relative;
}

#accesspresslite_media_image img { 
	width: 100%
}

#accesspresslite_fav_icon_remove{ 
	background: url(../images/close.png) no-repeat; 
	height: 16px; 
	width: 16px; 
	cursor: pointer; 
	display:block; 
	margin-left: 10px; 
	text-indent: -9999px; 
	position: absolute; 
	left: 110%; 
	top:0;
}

.f13{
	font-size: 13px !important; 
	line-height: 16px
}

.form-table{
	width: 95%
}

.accesspresslite-header{ 
	background: #333; 
	height: 100px; 
	border-radius:15px 15px 0 0; 
	border-bottom:5px solid #01AEFD;
	color: #FFF;
	margin-bottom: 20px;
	position: relative;
}

.accesspresslite-header .accesspresslite_title{ 
	font-size: 24px;
	color: #FFF;
	line-height: 100px;
	padding:0 20px 0 0;
	float:right;
}

.accesspresslite-logo{ 
	float: left;  
	width: auto; 
	padding: 15px 0 0 20px;
}
.accesspresslite-logo img{ 
	width: auto;
	height: 68px;
}

.ak-socials{ 
	width: 200px; 
	position: absolute; 
	left: 50%; 
	margin-left: -100px; 
	top: 20px;
	text-align: center;
}

.ak-socials p{
	margin: 0 0 10px;
}

.nav-tab-wrapper{ border-bottom: 1px solid #CCC}
.nav-tab-wrapper .nav-tab {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 6px 10px;
}

.radio-image-wrapper{
	margin-right: 25px; 
	float: left;
}

#optionsframework .form-table table{ 
	margin: 0; 
	background:#EEE;
	padding: 0 15px;
}

#optionsframework .form-table table th.line{ 
	border-bottom: 1px solid #CCC
}

.seperator{ 
	border-bottom: 1px solid #DDD; 
	padding:0 !important;
	line-height: 0 !important
}

#optionsframework select{
    max-width:220px;
}
#optionsframework .social-urls input[type="text"]{
    width:400px;
}
.layout-img{
    float:left;
    margin-right:30px;
}
.layout-img input{
    display: inline-block;
}
.layout-img label{
    display: inline-block;
    margin-left: 5px;
}

.cat-as-slider, .post-as-slider{
	display: none;
}

#welcome_post_char, #show_event_number{
	width: 50px;
}
.social-bttns{ white-space: nowrap;}
#optionsframework .product{
	background: #EEE;
	padding: 10px;
	border: 1px solid #CCC;
	margin-bottom: 15px;
	line-height: 1.5;
}
#optionsframework .logo-product{
	float: left;
}
#optionsframework .productext{
	padding-left: 200px;
}